footer {
    position: relative;
    z-index: 1;
}

.copyright {
    padding-top: 10px;
    height: 100px;
    text-align: center;
    background-image: url("../assets/img/black-yellow-line.jpg");
    background-repeat: repeat-x;
    background-size: contain;
}

.copyright span {
    font-weight: 400;
    font-size: 1rem;
    color: var(--asphalt);
}


/*--------------------------------------------------------------------------------------Responsiveness */
@media (min-width: 360px) and (max-width: 575px) {
    .copyright {
        padding-top: 1px;
        height: 50px;
    }
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}