header {
    position: absolute;
    width: 100%;
    z-index: 100;
}

header .wrapper {
    position: relative;
    isolation: isolate;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.logo {
    width: 220px;
    height: 220px;
}

.logo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

nav {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.menu_list {
    display: flex;
    font-size: 32px;
}

.menu_item {
    position: relative;
    isolation: isolate;
    margin-left: 6px;
    display: flex;
    align-items: center;
    padding:  0 72px;
    height: 100px;
    border-top: var(--border-12);
    border-bottom: var(--border-12);
    border-left: var(--border-1);
    border-right: var(--border-1);
    color: var(--orange);
    transition: all 0.4s ease;
    cursor: pointer;
}

.menu_item:first-child {
    border-bottom: var(--border-12);
    border-left: var(--border-12);
    border-bottom-left-radius: 60px;
}

.menu_item:last-child {
    border-top: var(--border-12);
    border-right: var(--border-12);
    border-top-right-radius: 60px;
}

.menu_item:hover {
    background-color: var(--orange);
    border-color: var(--orange);
    color: white;
}


/*--------------------------------------------------------------------------------------Responsiveness */
@media (min-width: 360px) and (max-width: 575px) {
    header .wrapper {
        padding-top: 10px;
    }
    .logo {
        width: 90px;
        height: 90px;
    }
    nav {
        display: none;
    }
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}
