main {
    position: relative;
    isolation: isolate;
}

main h3 {
    position: absolute;
    top: 0;
    font-family: 'Rubik Distressed', cursive;
    font-weight: 400;
    font-size: 7rem;
    text-transform: capitalize;
    letter-spacing: -1px;
    color: var(--orange);
}

main h3::before {
    content: "";
    display: block;
    position: absolute;
    top: -30%; left: -15%;
    width: 115%;
    height: 130%;
    border-right: var(--border-1);
    border-bottom: var(--border-1);
    box-sizing: content-box;
}

main h3::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -100px; right: -49px;
    width: 50px;
    height: 100px;
    border-left: var(--border-1);
    border-top: var(--border-1);
}


/*--------------------------------------------------------------------------------------Home */
.home {
    position: relative;
    isolation: isolate;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
}

.info-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 180px 100px 10px 0;
}

.headers {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.headers h1,
.headers h2 {
    font-family: 'Rubik Distressed', cursive;
    font-weight: 400;
    text-transform: capitalize;
    color: white;
    visibility: hidden;
}

.headers h1,
.phone h2 {
    font-size: 7rem;
    color: var(--orange);
}

.headers h2 {
    font-size: 5rem;
}

.phone {
    visibility: hidden;
}

.phone h2 {
    font-family: 'Rubik Distressed', cursive;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--orange);
}

.call-button {
    margin-right: 300px;
    margin-bottom: 50px;
    perspective: 1000px;
    visibility: hidden;
}

.call-button a {
    font-family: 'Rubik Distressed', cursive;
    color: black;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -2px;
}

.road-sign {
    height: 260px;
    width: 260px;
    display: flex;
    align-items: center;
    background-image: url('../assets/img/yellow-road-sign-rhomb.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: rotate(45deg);
    transition: transform 0.4s ease;
    cursor: pointer;
    z-index: 1;
}

.road-sign a {
    font-size: 38px;
    transform: rotate(-45deg);
}


/*--------------------------------------------------------------------------------------Gallery */
.gallery {
    position: relative;
    isolation: isolate;
    border-top: var(--border-1);
    border-bottom: var(--border-1);
}

.gallery h3 {
    left: 100px;
}

.gallery h3::before {
    left: 0;
    border-right: none;
    border-left: var(--border-1);
}

.gallery h3::after {
    bottom: -100px; left: -49px;
    width: 50px;
    height: 100px;
    border-left: none;
    border-right: var(--border-1);
}


/*--------------------------------------------------------------------------------------Services */
.services {
    position: relative;
    isolation: isolate;
    height: 640px;
}

.services h3 {
    top: 2px;
    right: 100px;
}

.services h3::after {
    z-index: 1;
}

.services h4 {
    position: relative;
    margin-bottom: 10px;
    font-family: 'Rubik Distressed', cursive;
    font-weight: 400;
    font-size: 3rem;
    text-transform: capitalize;
    color: var(--orange);
    z-index: 1;
}

.services span {
    position: relative;
    z-index: 1;
}

.towing,
.mounting {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: calc(50% - 150px);
    height: 540px;
    padding: 64px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.towing {
    top: 0;
    left: 100px;
    padding: 88px 64px;
    border-bottom-right-radius: var(--radius-100);
    background-image: url("../assets/img/towing-service.jpg");
}

.mounting {
    align-items: flex-end;
    top: 100px;
    right: 100px;
    border-top-left-radius: var(--radius-100);
    background-image: url("../assets/img/crane-service.jpg");
}

.mounting span {
    text-align: right;
}

.towing::before,
.mounting::before {
    content: "";
    display: block;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.65);
    z-index: 0;
}

.towing::before {
    border-bottom: var(--border-24);
    border-right: var(--border-24);
    border-bottom-right-radius: var(--radius-100);
}

.towing::after {
    content: "";
    display: block;
    position: absolute;
    top: -100px; left: 0;
    height: 350px;
    border-left: var(--border-1);
}

.mounting::before {
    border-top: var(--border-24);
    border-left: var(--border-24);
    border-top-left-radius: var(--radius-100);
}

.mounting::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0; right: 0;
    height: 200px;
    border-right: var(--border-1);
}


/*--------------------------------------------------------------------------------------Testimonials */
.testimonials {
    position: relative;
    isolation: isolate;
    border-top: var(--border-1);
}

.testimonials::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../assets/img/diamond-plate.jpg");
    background-repeat: repeat-x;
    background-position: left;
    background-size: contain;
    filter: brightness(0.3);
}

.testimonials h3 {
    left: 100px;
}

.testimonials h3::before {
    left: 0;
    border-right: none;
    border-left: var(--border-1);
}

.testimonials h3::after {
    bottom: -100px; left: -49px;
    width: 50px;
    height: 100px;
    border-left: none;
    border-right: var(--border-1);
}

.testimonials .wrapper {
    padding-top: 164px;
    padding-bottom: 64px;
}

.testimonials_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 64px;
}

.testimonials_item {
    display: flex;
    border-top-left-radius: 80px;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(4px);
}

.testimonials_item::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0; right: 0;
    width: 50px;
    height: 50px;
    border-right: var(--border-24);
    border-bottom: var(--border-24);
    box-sizing: content-box;
}

.testimonials_img {
    position: relative;
    isolation: isolate;
    flex-shrink: 0;
    width: 150px;
    height: 150px;
    border-top-left-radius: 50%;
    overflow: hidden;
}

.testimonials_img::before {
    content: "";
    display: block;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    border-left: var(--border-24);
    border-top: var(--border-24);
    border-top-left-radius: 50%;
}

.testimonials_item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: bottom;
}

.testimonials_span {
    flex-grow: 1;
    padding: 24px 48px 24px 24px;
    text-align: justify;
}


/*--------------------------------------------------------------------------------------Animations */
@keyframes infoSlideInFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes phoneSlideInFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes callButtonScaleUp {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes roadSignRotationOnLoad {
    0% {
        transform: rotate(665deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@keyframes roadSignRotationOnTap {
    0% {
        transform: rotate(45deg) scale(1);
    }
    50% {
        transform: rotate(45deg) scale(0.9);
    }
    100% {
        transform: rotate(45deg) scale(1);
    }
}


/*--------------------------------------------------------------------------------------Responsiveness */
@media (min-width: 360px) and (max-width: 575px) {
    main h3 {
        font-size: 2.5rem;
    }
    .home {
        align-items: flex-end;
    }
    .info-panel {
        padding: 0;
        padding-bottom: 10px;
        height: 60%;
        align-items: center;
    }
    .headers {
        align-items: center;
    }
    .headers h1 {
        font-size: 3.5rem;
        text-align: center;
    }
    .headers h2 {
        margin-top: 10px;
        font-size: 2rem;
    }
    .phone h2 {
        font-size: 2.5rem;
    }
    .call-button {
        margin-right: 0;
        margin-bottom: 0;
    }
    .call-button a {
        font-size: 1.5rem;
        letter-spacing: -1px;
    }
    .road-sign {
        height: 150px;
        width: 150px;
    }
    .gallery h3 {
        left: 10px;
    }
    .services {
        height: 650px;
    }
    .services h3 {
        right: 10px;
    }
    .services h4 {
        font-size: 1.75rem;
    }
    .towing,
    .mounting {
        width: 90%;
        height: 300px;
        padding: 16px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .towing {
        top: 38px;
        left: 0;
        padding: 32px 16px;
    }
    .mounting {
        top: 350px;
        right: 0;
    }
    .towing::before {
        border-bottom: var(--border-12);
        border-right: var(--border-12);
    }
    .mounting::before {
        border-top: var(--border-12);
        border-left: var(--border-12);
    }
    .testimonials::before {
        background-repeat: repeat-y;
        background-position: top;
    }
    .testimonials h3 {
        left: 10px;
    }
    .testimonials .wrapper {
        padding-top: 48px;
        padding-bottom: 16px;
    }
    .testimonials_list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .testimonials_item {
        display: flex;
        border-top-left-radius: 80px;
        background-color: rgba(255,255,255,0.1);
        backdrop-filter: blur(4px);
    }
    .testimonials_item::before {
        width: 25px;
        height: 25px;
        border-right: var(--border-12);
        border-bottom: var(--border-12);
    }
    .testimonials_img {
        width: 100px;
        height: 100px;
    }
    .testimonials_img::before {
        border-left: var(--border-12);
        border-top: var(--border-12);
    }
    .testimonials_span {
        padding: 12px 24px 12px 12px;
    }
}

@media (min-width: 360px) and (max-height: 640px) {
    .call-button a {
        font-size: 1.25rem;
    }
    .road-sign {
        height: 115px;
        width: 115px;
    }
}

@media (min-width: 375px) and (max-height: 680px) {
    .call-button a {
        font-size: 1.25rem;
    }
    .road-sign {
        height: 120px;
        width: 120px;
    }
}

@media (min-width: 390px) and (max-width: 575px) {
    .headers h1 {
        font-size: 4rem;
    }
    .headers h2 {
        font-size: 2.5rem;
    }
    .phone h2 {
        font-size: 3rem;
    }
    .road-sign {
        height: 170px;
        width: 170px;
    }
    .call-button a {
        font-size: 1.75rem;
    }
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}