.slides {
    display: grid;
}

.slide {
    grid-column: 1;
    grid-row: 1;
    opacity: 0;
    transition: opacity 0.4s;
}

.cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 860px;
}

.slide.is-active {
    opacity: 1;
}

button {
    background: transparent;
    border: none;
    outline: none;
}

.arrows {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.arrow {
    position: relative;
    display: flex;
    align-items: center;
    width: 15%;
    cursor: pointer;
    overflow: inherit;
}

.arrow i {
    position: absolute;
    font-size: 80px;
    color: var(--orange);
    animation: pulsation 2.5s ease-out;
    animation-iteration-count: infinite;
}

.arrow:hover i {
    animation: none;
}

.arrow-prev i {
    left: 120px;
    transition: all 0.3s ease;
}

.arrow-next i {
    right: 120px;
    transition: all 0.3s ease;
}

.arrow-prev:hover i {
    transform: translateX(-20px);
    color: var(--orange);
    opacity: 1;
}

.arrow-next:hover i {
    transform: translateX(20px);
    color: var(--orange);
    opacity: 1;
}


@keyframes pulsation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/*--------------------------------------------------------------------------------------Responsiveness */
@media (min-width: 360px) and (max-width: 575px) and (orientation: portrait) {
    .cover {
        background-position: top;
        height: 75vh;
    }
}

@media (min-width: 360px) and (max-width: 575px) and (orientation: landscape) {
    .cover {
        background-size: cover;
        background-position: center;
        height: 100vh;
    }
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}