/*Reset css*/
@import url("reset.css");

/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic');
/* @import url('https://fonts.googleapis.com/css?family=Didact+Gothic:regular'); */
/* @import url('https://fonts.googleapis.com/css?family=Rubik+Dirt:regular'); */
/* @import url('https://fonts.googleapis.com/css?family=Rubik+Distressed:regular'); */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap'); */

@font-face {
	font-family: 'Rubik Distressed';
	font-style: normal;
	font-weight: 400;
	src: url('../assets/fonts/RubikDistressed-Regular.ttf');
}


body {
	--orange: #fda929;
	font-family: 'Montserrat', sans-serif;
}


.container {}

.wrapper{
	padding: 0 100px;
}


.header .wrapper {
	position: relative;
	padding-top: 50px;
	padding-bottom: 40px;
	height: 100%;
}

.header {
	height: 100vh;
}

.header__background {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
}

.header__background > div {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(1, 1, 1, 0.7);
}

.header__background video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.header__background img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.truck {
	position: absolute;
	left: -40px;
	bottom: -100px;
}

.truck img {
	width: 115%;
	height: 115%;
	object-fit: contain;
}

.header__navigation {
	min-width: 100%;
	display: flex;
	justify-content: space-between;
}

.logo {
	width: 220px;
	height: 220px;
}

.logo img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.nav {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
}

.menu_list {
	display: flex;
	font-size: 32px;
}

.menu_item {
	margin-left: 6px;
	padding:  30px 60px;
	border: 4px solid var(--orange);
	border-radius: 10px;
	transition: all 0.4s ease;
	cursor: pointer;
}

.menu_item:first-child {
	border-bottom-left-radius: 60px;
}

.menu_item:last-child {
	border-top-right-radius: 60px;
}

.menu_item:hover {
	background-color: var(--orange);
	border-color: var(--orange);
}

.menu_list a {
	color: var(--orange);
	transition: all 0.4s ease;
}

.menu_item:hover a {
	color: white;
}


/*--------------------------------------------------------------------------------------Header Text */
.header__info {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	position: absolute;
	top: 180px;
	right: 100px;
}

.header__info h1,
.header__info h2 {
	font-family: 'Rubik Distressed', cursive;
	font-weight: 400;
	font-size: 5rem;
	color: white;
	visibility: hidden;
}

.header__info h1 {
	font-size: 6rem;
}

.header__info h1,
.header__info h2:last-child {
	color: var(--orange);
}


/*--------------------------------------------------------------------------------------Call Button */
.call__button {
	position: absolute;
	bottom: 70px;
	right: 240px;
	display: flex;
	flex-direction: column;
	align-items: center;
	transform: rotate(5deg);
	transform-origin: bottom center;
	perspective: 1000px;
	visibility: hidden;
}

.call__button .rhomb,
.call__button .rect {
	display: flex;
	align-items: center;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	transition: transform 0.4s ease;
}

.call__button .rhomb {
	height: 260px;
	width: 260px;
	background-image: url('../assets/img/yellow-road-sign-rhomb.png');
	background-size: cover;
	transform: rotate(45deg);
	z-index: 1;
}

.call__button .rect {
	position: relative;
	bottom: 20px;
	justify-content: center;
	height: 120px;
	width: 348px;
	background-image: url('../assets/img/yellow-road-sign-rect.png');
	background-size: 100%;
	z-index: 2;
}

.call__button:hover .rhomb {
	transform: rotate(45deg) rotate3d(1,1,0, -30deg);
}

.call__button:hover .rect {
	transform: rotate(10deg) rotate3d(0,1,0, -30deg);
}

.call__button a {
	font-family: 'Rubik Distressed', cursive;
	color: black;
	font-weight: 400;
	font-size: 36px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: -1px;
}

.call__button .rhomb a {
	font-size: 38px;
	transform: rotate(-45deg);
}

.call__button .stick {
	position: absolute;
	bottom: -70px;
	width: 26px;
	height: 100px;
}

.call__button .stick img {
	width: 100%;
	height: 100%;
	object-fit: fill;
}


/*Main*/
.main {
	height: 800px;
	background-color: lightgrey;
}


/*Footer*/
.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1%;
	height: 30px;
	background-color: rgba(67, 63, 51, 0.6);
	color: white;
}

.footer__text{}


/*--------------------------------------------------------------------------------------Animations */
@keyframes truckSlideInFromLeft {
	0% {
		transform: translateX(-100%);
		opacity: 0;
	}
	60% {
		opacity: 1;
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes callButtonSlideInFromBottom {
	0% {
		transform: translateY(100%) rotate(5deg);
	}
	100% {
		transform: translateY(0) rotate(5deg);
	}
}

@keyframes infoSlideInFromTop {
	0% {
		transform: translateY(-100%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}