@import url("reset.css");
@import url("header.css");
@import url("main.css");
@import url("footer.css");
@import url("slideshow.css");


/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic');
/* @import url('https://fonts.googleapis.com/css?family=Didact+Gothic:regular'); */
/* @import url('https://fonts.googleapis.com/css?family=Rubik+Dirt:regular'); */
/* @import url('https://fonts.googleapis.com/css?family=Rubik+Distressed:regular'); */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap'); */

@font-face {
	font-family: 'Rubik Distressed';
	font-style: normal;
	font-weight: 400;
	src: url('../assets/fonts/RubikDistressed-Regular.ttf');
}

html {
	overflow: hidden;
}

body {
	--orange: #fda929;
	--asphalt: #373d42;
	--border-1: 1px solid var(--orange);
	--border-12: 12px solid var(--orange);
	--border-24: 24px solid var(--orange);
	--border-radius: 100px;
	font-family: 'Montserrat', sans-serif;
	overflow-y: scroll;
	overflow-x: hidden;
	perspective: 10px;
}

span {
	font-weight: 500;
	font-size: 1.5rem;
	color: darkturquoise;
}

.wrapper{
	padding: 0 100px;
}

.root {
	position: relative;
	max-height: 2074px;
	transform-style: preserve-3d;
}

.root::before {
	content: "";
	position: absolute;
	width: 100vw;
	height: 100%;
	background-image: url("../assets/img/main-bg.png");
	background-repeat: repeat-y;
	background-position: center;
	background-size: cover;
	transform: translateZ(-10px) scale(2);
}


/*--------------------------------------------------------------------------------------Animations */
@keyframes truckSlideInFromLeft {
	0% {
		transform: translateX(-100%);
		opacity: 0;
	}
	60% {
		opacity: 1;
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes callButtonSlideInFromBottom {
	0% {
		transform: translateY(100%) rotate(5deg);
	}
	100% {
		transform: translateY(0) rotate(5deg);
	}
}

@keyframes infoSlideInFromTop {
	0% {
		transform: translateY(-100%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}